---
layout: default
---

<script>
    $( document ).ready(function() {
        //weather

        var departureStation, arrivalStation, searchedCity, departureStationId, otherStations;
        {% for city in site.data.cities %}
          getWeather("{{site.data.weather.api-url}}", "{{site.data.weather.api-key}}", "{{city.weatherId}}", "{{city.name}}");
          setWeatherInterval("{{site.data.weather.api-url}}", "{{site.data.weather.api-key}}", "{{city.weatherId}}", "{{city.name}}");

          getForecast("{{site.data.weather.api-url}}", "{{site.data.weather.api-key}}", "{{city.weatherId}}", "{{city.name}}");
          setForecastIntervall("{{site.data.weather.api-url}}", "{{site.data.weather.api-key}}", "{{city.weatherId}}", "{{city.name}}");

          if("departure" === "{{city.stationType}}"){
              departureStation = "{{city.stationName}}";
              departureStationId = "{{city.stationId}}";
          }else{
            arrivalStation = "{{city.stationName}}";
            searchedCity = "{{city.name}}";
            otherStations = "{{city.otherStations}}";
          }
        {% endfor %}

        getCurrentBirthday('{{site.data.birthdays.birthdays}}');
        setBirthdayInterval('{{site.data.birthdays.birthdays}}');

        getCurrentTrains(departureStation, arrivalStation, searchedCity, departureStationId, otherStations);
        setTrainInterval(departureStation, arrivalStation, searchedCity, departureStationId, otherStations);

        setCurrentDateTime();
        setCurrentDateTimeInterval();

    });
</script>

<div class="home">

  <div class="background">
    <div class="container">
      <div class="row">
        <div class="col-md-9"></div>
        <div class="col-md-3 text-right">
          <p><span class="current-time"></span> <span class="current-date"></span></p>
        </div>
      </div>
      <div class="row margin-bottom">
        <div class="col-md-7">
          <div class="train-container border-radius">
            <div class="row">
              <div class="col-md-2 no-padding-right">
                <img class="small-margin-left" src="images/icons/32/002-transport-2.png"/>
              </div>
              <div class="col-md-8 no-padding-left">
                <p><b>Zugverbindungen:</b> <span class="startStation">Wittenberge</span><span class="arrow small-margin-left glyphicon glyphicon-arrow-right"></span><span class="endStation small-margin-left">Berlin</span></p>
              </div>
            </div>
            <div class="train-details">
              <div class="train-connection border-radius">
                <div class="row">
                  <div class="col-md-2 no-padding-right">
                    <p><b>ICE 125</b></p>
                  </div>
                  <div class="col-md-1 no-padding-left">
                    <img src="images/icons/32/003-symbol.png"/>
                  </div>
                  <div class="col-md-3 no-padding-left text-center">
                    <p class="arrivalStation">Wittenberge</p>
                  </div>
                  <div class="col-md-2 no-padding-left">
                    <img src="images/icons/32/arrows.png"/>
                  </div>
                  <div class="col-md-1 no-padding-left">
                    <img src="images/icons/32/002-car.png"/>
                  </div>
                  <div class="col-md-3 no-padding-left text-center">
                    <p class="departureStation">Berlin</p>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-2 no-padding-right">
                  </div>
                  <div class="col-md-1 no-padding-left"></div>
                  <div class="col-md-3 no-padding-left text-center">
                    <p class="arrivalTime">6:31 Uhr <span class="arrivalDelay">+0</span></p>
                  </div>
                  <div class="col-md-2 no-padding-left">
                  </div>
                  <div class="col-md-1 no-padding-left">
                  </div>
                  <div class="col-md-3 no-padding-left text-center">
                    <p class="departureTime">7:20 Uhr <span class="departureDelay">+0</span></p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-5">
          <div class="border-radius birthday-container">
            <div class="row">
              <div class="col-md-2">
                <img class="small-margin-left" src="images/icons/32/001-present.png"/>
              </div>
              <div class="col-md-8">
                <p class="currentBirthday"><span class="birthday-start-text"></span><span class="birthday-people"></span><span class="birthday-end-text"></span></p>
              </div>
            </div>
          </div>
        </div>
      </div>

      {% for city in site.data.cities %}
        {% capture modulo %}{{ forloop.index0 | modulo:2 }}{% endcapture %}
        {% if modulo == '0' %}
      <div class="row weather">
        <!--<div class="col-md-1"></div>-->
        {% endif %}
        <div {% if site.data.cities.size == 1 %} class="col-md-12" {% else %} class="col-md-6" {% endif %}>
          <div class="weather-container border-radius {{city.name}}">
            <div class="row">
              <div class="col-md-8">
                <p><b>{{city.name}}</b></p>
                <div class="row">
                  <div class="col-md-5">
                    <img class="center-block weatherCurrentImg" src="images/icons/128/007-weather-1.png"/>
                  </div>
                  <div class="col-md-4">
                    <p class="text-left weather-font currentTemp"/>
                  </div>
                </div>
                <div class="row margin-top">
                  <div class="col-md-4">
                    <p class="text-center"><span class="currentTempMin"></span><span class="big-font currentTempMax"></span></p>
                  </div>
                  <div class="col-md-6">
                    <p class="text-left currentWeather"/>
                  </div>
                </div>
              </div>
              <div class="col-md-4 border-left-side">
                <div class="row">
                  <div class="col-md-5">
                    <p>Morgen</p>
                    <img class="weatherTomorrowImg" src="images/icons/32/01d.png"/>
                  </div>
                  <div class="col-md-7 pull-down">
                    <p><span class="weatherTomorrowTempMin"></span><span class="weatherTomorrowTempMax"></span></p>
                  </div>
                </div>
                <hr class="small-margin-top">
                <div class="row">
                  <div class="col-md-5">
                    <p class="weatherIn2DaysDate"></p>
                    <img class="weatherIn2DaysImg" src="images/icons/32/01d.png"/>
                  </div>
                  <div class="col-md-7 pull-down">
                    <p><span class="weatherIn2DaysTempMin"></span><span class="weatherIn2DaysTempMax"></span></p>
                  </div>
                </div>
                <hr class="small-margin-top">
                <div class="row">
                  <div class="col-md-5">
                    <p class="weatherIn3DaysDate"></p>
                    <img class="weatherIn3DaysImg" src="images/icons/32/01d.png"/>
                  </div>
                  <div class="col-md-7 pull-down">
                    <p><span class="weatherIn3DaysTempMin"></span><span class="weatherIn3DaysTempMax"></span></p>
                  </div>
                </div>
              </div>
            </div>
          </div>

        </div>
      {% if modulo == '1' %}
      </div>
      {% endif %}
      {% endfor %}

    </div>
    </div>

</div>
