---
layout: default
---

<script>
    $( document ).ready(function() {
        //weather

        var departureStation, arrivalStation, searchedCity, departureStationId, searchedTrainStations;
        {% for city in site.data.cities %}
          getWeather("{{site.data.weather.api-url}}", "{{site.data.weather.api-key}}", "{{city.weatherId}}", "{{city.name}}");
          setWeatherInterval("{{site.data.weather.api-url}}", "{{site.data.weather.api-key}}", "{{city.weatherId}}", "{{city.name}}");

          getForecast("{{site.data.weather.api-url}}", "{{site.data.weather.api-key}}", "{{city.weatherId}}", "{{city.name}}");
          setForecastIntervall("{{site.data.weather.api-url}}", "{{site.data.weather.api-key}}", "{{city.weatherId}}", "{{city.name}}");

        {% endfor %}

        getCurrentBirthday('{{site.data.birthdays.birthdays}}');
        setBirthdayInterval('{{site.data.birthdays.birthdays}}');

        setCurrentDateTime();
        setCurrentDateTimeInterval();

        setToDoTimeInterval();

    });
</script>

<div class="home">

  <div class="background">
    <div class="container">
      <div class="row">
        <div class="col-md-8"></div>
        <div class="col-md-4 text-right no-padding-right">
          <p><span class="current-time"></span> <span class="current-date"></span></p>
        </div>
      </div>
      <div class="row margin-bottom">
        <div class="col-md-7 no-padding-left">
          <div class="border-radius todo-container">
            <div class="row">
              <div class="col-md-2">
                <img class="small-margin-left" src="images/icons/24/checklist.png"/>
              </div>
              <div class="col-md-8">
                <p>Heutigen ToDos</p>
              </div>
            </div>
            <div class="todo-container-details">
              <div class="row todos">
                <div class="col-md-12">
                  <p><b>Heute gibt es keine ToDos</b></p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-5 no-padding-left no-padding-right">
          <div class="border-radius birthday-container">
            <div class="row">
              <div class="col-md-2">
                <img class="small-margin-left" src="images/icons/32/001-present.png"/>
              </div>
              <div class="col-md-8">
                <p class="currentBirthday"><span class="birthday-start-text"></span><span class="birthday-people"></span><span class="birthday-end-text"></span></p>
              </div>
            </div>
          </div>
        </div>
      </div>

      {% for city in site.data.cities %}
        {% capture modulo %}{{ forloop.index0 | modulo:2 }}{% endcapture %}
        {% if modulo == '0' %}
      <div class="row weather">
        <!--<div class="col-md-1"></div>-->
        {% endif %}
        <div {% if site.data.cities.size == 1 %} class="col-md-5 no-padding-left" {% else %} class="col-md-6 no-padding-left" {% endif %}>
          <div class="weather-container border-radius {{city.name}}">
            <div class="row">
              <div class="col-md-12">
                <p><b>{{city.name}}</b></p>
                <div class="row">
                  <div class="col-md-5">
                    <img class="center-block weatherCurrentImg" src="images/icons/128/007-weather-1.png"/>
                  </div>
                  <div class="col-md-4">
                    <p class="text-left weather-font currentTemp"/>
                  </div>
                </div>
                <div class="row margin-top">
                  <div class="col-md-4">
                    <p class="text-center"><span class="currentTempMin"></span><span class="big-font currentTempMax"></span></p>
                  </div>
                  <div class="col-md-6">
                    <p class="text-left currentWeather"/>
                  </div>
                </div>
              </div>
            </div>
          </div>

        </div>
      {% if modulo == '1' %}
      </div>
      {% endif %}
      {% endfor %}

    </div>
    </div>

</div>
